# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
/media/
/static/

# Environment
.env

# Node/React
frontend/node_modules/
frontend/build/
frontend/dist/

# OS and Editor
.DS_Store
*.swp

# Logs
*.log

# VSCode
.vscode/

# Others
*.bak

# Ignore everything in venv except this .gitignore
venv/*
!venv/.gitignore